<!-- header -->
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <div class="ui category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search animals...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div class="right item">
      <img class="ui avatar image" src="/images/elliot.jpg"> Elliot
    </div>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
    <div class="item">
      <button class="circular ui icon totalTab open button">
        <%= total %>
      </button>
    </div>
  </div>
</div>

<!-- sidebar -->

<div class="ui right demo vertical inverted labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
