<!-- sidebar -->

<div class="ui right demo vertical inverted labeled icon sidebar menu tabList">
  <a class="item">
    <i class="spinner loading icon"></i>
    Loading..
  </a>
</div>


<div class="ui modal sidebarModal">
  <i class="close icon"></i>
</div>
